<template>
  <div class="matcher">

    <header class="header">
      <div class="logo">
        <img class="logo__img" height="50" width="50" src="../assets/img/wheel.png" alt="logo">
        <h1 class="header__title" >SPIN 'n' WIN</h1>
      </div>
      <div class="score">
        <span class="score__item">Level: {{level}}</span>
        <span class="score__item">Spins: {{spins}}</span>
      </div>
      <transition name="fade">
        <div v-if="showLevelPopUp" class="level-up">Level Up!</div>
      </transition>
      <transition name="fade">
        <div v-if="showWinnerPopUp" class="winner">Congratulations! You're a master of reaction! You can continue playing if you want</div>
      </transition>
    </header>

    <div class="wrapper">
      <div class="lottery">
        <form class="lottery-form">
          <span class="lottery-form__text">Type your number:</span>
          <input type="number" class="lottery-form__input" required>
          <button class="button" type="submit" v-on:click="startTimer" v-bind:disabled="isStartButtonDisabled">Start</button>
        </form>
        <div class="lottery__output">
          <div class="lottery__random-number">{{outputNumber}}</div>
          <button class="button" v-on:click.prevent="stopTimer(); ifMatch(outputNumber)" v-bind:disabled="!isStartButtonDisabled">Stop</button>
        </div>
      </div>
      <div class="rules">
        <h2 class="rules__title">Rules</h2>
        <ul class="rules__list">
          <li class="rules__item">Select a number between 1 and 9 that you would like to match (you can change it anytime)</li>
          <li class="rules__item">Start spinning numbers by pressing Start button</li>
          <li class="rules__item">Try to press Stop button when your number and number that spins match</li>
          <li class="rules__item">If two numbers match, you will recieve a level up and the speed of spinning will increase</li>
          <li class="rules__item">Maximum level is 10, and the number of spins is unlimited</li>
        </ul>
        <span class="rules__luck">Good luck!</span>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'Matcher',
  data () {
    return {
      timer: null,
      isStartButtonDisabled: false,
      showLevelPopUp: false,
      showWinnerPopUp: false,
      winner: false,
      outputNumber: 1,
      spins: 0,
      level: 1,
      delay: 160
    }
  },

  methods: {
    startTimer: function(e) {
      e.preventDefault();
      this.isStartButtonDisabled = true;
      this.timer = setInterval( () => {
        this.outputNumber += 1;
        if (this.outputNumber == 10) {
            this.outputNumber = 1;
        }
      }, this.delay);
    },

    stopTimer: function() {
      this.spins += 1;
      this.isStartButtonDisabled = false;
      clearInterval(this.timer);
    },

    showLevelUp: function() {
      this.showLevelPopUp = true;
      setTimeout(() => {this.showLevelPopUp = false}, 2000);
    },

    showWinner: function() {
      this.showWinnerPopUp = true;
      setTimeout(() => {this.showWinnerPopUp = false}, 9000);
    },

    ifMatch: function(number) {
      var userNumber = document.querySelector('.lottery-form__input').value;
      if (number == userNumber) {

        if (this.level <= 9) {
          this.showLevelUp();
          this.level += 1;
          this.delay -= 10;
        } else if (this.level == 10 && this.winner == false) {
          this.showWinner();
          this.winner = true;
        }

      }
    }

  }
}
</script>

<style scoped>
.header {
  height: 60px;
  display: flex;
  flex-direction: row;
  padding: 5px 90px;
  align-items: center;
  background-color: #ebebeb;
  margin: 0;
  justify-content: space-between;
  position: relative;
}

.header__title {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-weight: 300;
  text-transform: uppercase;
  padding-left: 10px;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.logo__img {
  animation: rotate 18s linear infinite;
}

.score__item {
  font-size: 24px;
  padding-right: 55px;
}

.wrapper {
  display: flex;
  padding: 0 90px;
  padding-top: 40px;
  flex-wrap: wrap;
}

.lottery {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.rules {
  width: 40%;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lottery-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lottery-form__text {
  font-size: 26px;
  margin-bottom: 50px;
}

.lottery-form__input {
  font-size: 100px;
  text-align: center;
  margin-bottom: 60px;
  width: 87px;
  border: 1px solid #39679e;
  border-radius: 15px;
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 300;
  color: #39679e;
  height: 117px;
}

.lottery__output {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lottery__random-number {
  font-size: 100px;
  font-weight: 800;
  border: 3px solid #39679e;
  box-sizing: border-box;
  padding: 0 15px;
  border-radius: 15px;
  margin-top: 78px;
  margin-bottom: 60px;
}

.rules__title {
  margin: 0;
  font-weight: 300;
  font-size: 26px;
  margin-bottom: 30px;
}

.rules__list {
  text-align: left;
  font-size: 18px;
}

.rules__item {
  margin-bottom: 15px;
  line-height: 1.5;
}

.rules__luck {
  color: #ff7bbe;
  font-style: italic;
  font-size: 26px;
  font-weight: 400;
}

.button {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: none;
  font-size: 26px;
  font-family: 'OpenSans', Arial, sans-serif;
  color: white;
  background-color: #ff7bbe;
  cursor: pointer;
}

.lottery-form__input:active, .lottery-form__input:focus {
  outline: none;
}

.level-up {
  font-size: 30px;
  font-weight: 700;
  color: #ff7bbe;
  position: absolute;
  right: 268px;
  height: 60px;
  background-color: #ebebeb;
  line-height: 60px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.button:disabled {
  background-color: #ebebeb;
}

.button:active, .button:focus {
  border: 2px solid #39679e;
  border-radius: 100px;
  outline: none;
}

.winner {
  background-color: #6085b1;
  color: white;
  position: absolute;
  width: 100%;
  left: 0;
  top: 70px;
  font-size: 26px;
  padding: 20px 70px;
  box-sizing: border-box;
  text-align: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
</style>
