<template>
  <div id="app">
     <Matcher/>
  </div>
</template>

<script>
import Matcher from './components/Matcher'

export default {
  name: 'App',
  components: {
    Matcher
  }
}
</script>

<style>
@import './assets/css/normalize.css';

@font-face {
  font-family: 'OpenSans';
  src: url('./assets/fonts/opensans.woff2') format('woff2'),
        url('./assets/fonts/opensans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('./assets/fonts/opensansbold.woff2') format('woff2'),
        url('./assets/fonts/opensansbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('./assets/fonts/opensanslight.woff2') format('woff2'),
        url('./assets/fonts/opensanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
#app {
  font-family: 'OpenSans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #39679e;
}
</style>
